<footer>
        <div class="footer-container">
            <div class="footer-column">
                <h4>Explore</h4>
                <p>Explore the world with curated destinations and seamless planning tools.</p>
            </div>

            <div class="footer-column">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Follow Us</h4>
                <div class="social-icons">
                    <a href="http://facebook.com" aria-label="Visit our Facebook page"><img src="../assets/index/facebook.png" alt="Facebook" loading="lazy"></a>
                    <a href="http://instagram.com" aria-label="Visit our Instagram page"><img src="../assets/index/IG.png" alt="Instagram" loading="lazy"></a>
                    <a href="http://twitter.com" aria-label="Visit our Twitter page"><img src="../assets/index/twitter.png" alt="Twitter" loading="lazy"></a>
                </div>
            </div>
            <div class="footer-bottom"> 
                <p>© 2025 Madescape. All rights reserved.</p>
            </div>
        </div>
</footer>