/* Footer Section */
footer {
    background-color: #1a3225; 
    color: #e9efeb; 
    padding: 30px 15px 30px;
    font-size: 0.95rem;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.footer-column{
    flex: 1;
    min-width: 220px;
}

.footer-column h4{
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #e9efeb;
}

.footer-column p{
    line-height: 1.5;
    color: #abb1ad;
}

.footer-column ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li{
    margin-bottom: 10px;
}

.footer-column ul li a{
    color: #abb1ad;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #73a69d;
}

.social-icons {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    /* justify-content: center; */
}

.social-icons a img {
    width: 25px;
    transition: transform 0.3s ease;
}

.social-icons a img:hover {
    transform: scale(1.2);
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    color: #abb1ad;
    font-size: 0.85rem;
    border-top: 1 px solid #abb1ad;
    padding-top: 20px;
}

@media (max-width: 768px) {
    .footer-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-column{
        margin-bottom: 30px;
    }

    .social-icons{
        justify-content: center;
    }
}