*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background: url("tree.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; 
    height: 55px;
    display: flex;
    align-items: center;
    z-index: 50;
    backdrop-filter: blur(15px);
    justify-content: center;
}

.nav-cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-right: 50px;
}

.logo img{
    width: 255px;
    height: auto;
    padding-left: 35px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 4rem;
    margin-left: auto;
}

.nav-links li a {
    color: #87aece;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

.nav-links li a:hover {
    color: #afd06e;
}


.container {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.blur-box {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 25px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    padding: 40px 60px;
    text-align: center;
    width: 90%;
    max-width:  700px;
    color: rgba(255, 255, 255, 0.952);
}

h1 {
    font-size: 36px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
}

p {
    color: #dfe6e9;
    font-size: 15px;
    margin-bottom: 25px;
}

.bucket-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.bucket-table th,
.bucket-table td {
    background: rgba(255, 255, 255, 0.411);
    color: #000;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #c4ddcf48;
    text-align: center;
    font-size: 16px;
}

.bucket-table th {
    background: rgba(255, 255, 255, 0.7);
    font-weight: 600;
}

.bucket-table tr {
    transition: background 0.3s, transform 0.2s;

}

.bucket-table tr:hover {
    background-color: rgba(220, 255, 220, 0.9);
    transform: scale(1.02);

}

.bucket-table input[type="checkbox"]:checked {
    text-decoration: line-through;
}

.add-destination {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.add-destination label {
    color: white;
    font-size: 15px;
    margin-bottom: 8px;
}

.add-destination input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
}

@media (max-width: 600px) {
    .blur-box {
        padding: 30px;
    }

    h1 {
        font-size: 28px;
    }

    .bucket-table th,
    .bucket-table td {
        font-size: 14px;
        padding: 8px;
    }
    
}
footer {
  background: none;
  background-color: transparent;
  color: #f5f3d8;
  text-align: center;
  padding: 25px 0;
  font-size: 0.9rem;
  width: 100%;
  margin-top: 30px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.social-icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.social-icons a img {
  width: 25px;
  margin: 0 8px;
  transition: transform 0.3s ease;
}

.social-icons a img:hover {
  transform: scale(1.2);
}

