body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(160deg, #dbf0dd 20%, #87ad94 80%);
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;background: linear-gradient(160deg, #dbf0dd 20%, #87ad94 80%);
    padding: 0 60px;
    box-sizing: border-box;

}

.logo {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.logo img{
    width: 225px;
    height: auto;
    padding-left: 35px;
}

.logo p {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #051f20;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.navLinks a {
    text-decoration: none;
    color: #051f20;
    font-weight: bold;
    transition: 0.3s;
}

.navLinks a:hover {
    color: #88ae95;
}

.destination {
    text-align: center;
    width: 100%;
    max-width: 1400px;
    padding-bottom: 40px;
}

.secHeader {
    margin-bottom: 60px;
}

.Dtitle {
    font-size: 3rem;
    margin-bottom: 3px;
    color: #051f20;
}

.Dsub {
    color: #214f44;
    font-size: 1.5rem;
}

.destinationGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.destinationCard {
    width: 280px;
    height: 400px;
    background: whitesmoke;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    transition: 0.3s;
    left: 0;
    overflow: hidden;
}

.destinationCard:not(:first-child) {
    margin-left: -20px;
}

.destinationCard:hover {
    transform: translateY(-20px)
}

.destinationCard:hover ~ .destinationCard {
    left: 55px
}

.imageContainer {
    width: 100%;
    height: 60%;
    overflow: hidden;
    border-radius: 16px 16px 0 0;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardTitle {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 20px;
}

.content {
    padding: 15px;
    text-align: centerr;
}

.des {
    font-size: 14px;
    color: #051f20;
    font-weight: normal;
}

.explore {
    background: #8cb79b;
    color: #173831;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.explore:hover {
    background: #dbf0dd;
}

.exploreMore {
    background: #dbf0dd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #173831;
    font-size: 20px;
}

.exploreMore h3 {
    margin-bottom: 10px;
}

.exploreNow {
    background: #81a78e;
    border-radius: 6px;
}

.exploreNow:hover {
    background: #dbf0dd;
}