* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(to bottom, #a8dadc, #fcd5ce);
  background-attachment: fixed;
  background-size: cover;
  /* color: #051f20;  */
}

.nav {
    /* width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; */
    background: linear-gradient(to bottom, #a8dadc, #fcd5ce);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: transparent; */
    padding: 0 60px;
    z-index: 10;

}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 85px;
  height: auto;
  padding-left: 35px;
}

.logo a{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #051f20;
    text-decoration: none;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navLinks a {
  text-decoration: none;
  color: #051f20; 
  font-weight: bold;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: #235347;
}


.account-link{
    position: fixed;
    top: 20px;
    right: 20px;
    background: #a8dadc;
    color: whitesmoke;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: linear-gradient(to bottom, #a8dadc, #fcd5ce);
    backdrop-filter: blur(15px);
    box-shadow: -6px 0 20px rgba(0, 0, 0, 0.2);
    padding:  40px 20px;
    padding-top: 10px;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px; 
}

.sidebar h2{
    font-size: 16px;
    color: #051f20;
    margin-top: 15px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar ul li {
    margin: 13px ;
    color: #214f44;
    font-weight: 500;
    transition: color 0.3s ease;
}

.sidebar ul li a {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 18px;
    text-decoration: none;
    color: #051f20;
    padding: 10px 0;
    transition: color 0.3s ease;
}

.icon-sidebar{
    width: 22px;
    height: 22px;
    object-fit: contain;
    /* filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2)); */
}
.sidebar ul li a .icon-sidebar {
   transform: scale(1.1);
   transition: transform 0.3s ease;
}

.sidebar ul li a:hover {
    color: #457b9d;
    cursor: pointer;
}

.sidebar .close-btn {
    align-self: flex-start;
    margin-top: 15px;
    background: #457b9d;
    color: whitesmoke;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s ease;
    font-weight: normal;
    /* padding-bottom: 15px; */
}

.sidebar .close-btn:hover {
    background: #1d3557;
}

#accountSidebar:target {
    transform: translateX(0);
    animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.hero {
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-text {
  position: relative;
  padding: 50px;
  z-index: 2;
}

.hero-text h2 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}

.hero-text p {
  font-size: 1.2em;
  color: #fcd5ce;
}

.back-link {
  display: inline-block;
  margin-bottom: 10px;
  color: #ffffff; 
  text-decoration: none;
  font-size: 0.9em;
}

.back-link:hover {
  text-decoration: underline;
}


.spots-section {
  padding: 40px 60px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  margin: 30px auto;
  width: 90%;
  max-width: 1200px;
}

.spots-section h2 {
  margin-bottom: 30px;
  color: #051f20; 
  text-align: center;
}


.spots-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}


.spot-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 100%;
}

.spot-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}


.spot-card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}


.spot-card h3 {
  margin: 15px 0 8px 0;
  color: #051f20; /
}

.spot-card p {
  flex-grow: 1;
  font-size: 0.95em;
  color: #5c5c5c; 
  padding: 0 15px;
  margin-bottom: 10px;
  min-height: 50px;
}

/* BUTTON STYLING */
.view {
  margin-top: auto;
  margin-bottom: 20px;
  align-self: center;
  padding: 10px 20px;
  border: none;
  background-color: #457b9d; 
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.view:hover {
  background-color: #1d3557;
}
